<div class="intro">
  <h1 class="text-intro">Tout commence par une idée.</h1>
  <figure class="figure-image">
    <%= cl_image_tag("v1673017396/development/solenne-carreras/wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_07_Loire_Valley_Lodges_196_1_w7gkq9.jpg",
        class: "image-top") %>
  </figure>
  <figure class="figure-image">
    <%= cl_image_tag("v1673017396/development/solenne-carreras/wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_09_LaMaisonVraj_16_1_ib5x1i.jpg",
      class: "image-top") %>
  </figure>
  <figure class="figure-image">
    <%= cl_image_tag("v1673017396/development/solenne-carreras/wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_09_LaMaisonVraj_62_1_bjulq8.jpg",
      class: "image-top") %>
  </figure>
  <figure class="figure-image">
    <%= cl_image_tag("v1673017395/development/solenne-carreras/wetransfer_photos-home-page-partie-haute_2022-12-30_1551/HUILE_-_DSC04114_2020_1_dele2y.jpg",
      class: "image-top") %>
  </figure>
  <figure class="figure-image">
    <%= cl_image_tag("v1673017394/development/solenne-carreras/wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_09_LaMaisonVraj_59_1_f4kivn.jpg",
      class: "image-top") %>
  </figure>
  <figure class="figure-image">
    <%= cl_image_tag("v1673016767/development/solenne-carreras/wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_07_Loire_Valley_Lodges_297_ea8trw.jpg",
      class: "image-top") %>
  </figure>
  <figure class="figure-image">
    <%= cl_image_tag("v1673016765/development/solenne-carreras/wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2022_Shangri-La_173_r2q9we.jpg",
      class: "image-top") %>
  </figure>
  <figure class="figure-image">
    <%= cl_image_tag("v1673016765/development/solenne-carreras/wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2022_Kalank_33_a4uhhv.jpg",
      class: "image-top") %>
  </figure>
  <figure class="figure-image">
    <%= cl_image_tag("v1673016765/development/solenne-carreras/wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2022_Marignan_61_mbteh7.jpg",
      class: "image-top") %>
  </figure>
</div>
<div class="animation-part">
  <div class="text-wrapper">
    <p class="ta1">Créons ensemble</p>
    <p class="ta2">Créons ensemble</p>
  </div>
</div>
<div class="carousel-part">
  <div class="carousel1 swiper" data-controller="carousel" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="item swiper-slide">
        <div class="item-wrapper">
          <div class="item-image">
            <%= cl_image_tag("v1673016765/development/solenne-carreras/wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/Capture_d_%C3%A9cran_2020-09-06_%C3%A0_13.09.23_lwyree.png", class: "image-carousel") %>
          </div>
          <div class="item-description">
            <p>Packaging.</p>
          </div>
        </div>
      </div>
      <div class="item swiper-slide">
        <div class="item-wrapper">
          <div class="item-image">
            <%= cl_image_tag("v1673016768/development/solenne-carreras/wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/SolenneCarreras_2022-11-10_Pizzou_Issy_42_lfhbi8.jpg", class: "image-carousel") %>
          </div>
          <div class="item-description">
            <p>Photographie culinaire.</p>
          </div>
        </div>
      </div>
      <div class="item swiper-slide">
        <div class="item-wrapper">
          <div class="item-image">
            <%= cl_image_tag("v1673016970/development/solenne-carreras/wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/DSC04979_copie_1_lnnpzt.jpg", class: "image-carousel") %>
          </div>
          <div class="item-description">
            <p>Reportage photo.</p>
          </div>
        </div>
      </div>
      <div class="item swiper-slide">
        <div class="item-wrapper">
          <div class="item-image">
            <%= cl_image_tag("v1673016767/development/solenne-carreras/wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/Photo__SolenneCarreras__iamsolenne_NormalMagazine_StefanieRenoma_2018_3_xb48gl.jpg", class: "image-carousel") %>
          </div>
          <div class="item-description">
            <p>Photographie artistique.</p>
          </div>
        </div>
      </div>
      <div class="item swiper-slide">
        <div class="item-wrapper">
          <div class="item-image">
            <%= cl_image_tag("v1673016768/development/solenne-carreras/wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/SolenneCarreras_2022_AppartementCavalaire_21_x6zlnd.jpg", class: "image-carousel") %>
          </div>
          <div class="item-description">
            <p>Photographie Immobilière.</p>
          </div>
        </div>
      </div>
      <div class="item swiper-slide">
        <div class="item-wrapper">
          <div class="item-image">
            <%= cl_image_tag("v1673016767/development/solenne-carreras/wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/DSC08473_copie_vnlcrj.jpg", class: "image-carousel") %>
          </div>
          <div class="item-description">
            <p>Packshots produits.</p>
          </div>
        </div>
      </div>
      <div class="item swiper-slide">
        <div class="item-wrapper">
          <div class="item-image">
            <%= cl_image_tag("v1673016766/development/solenne-carreras/wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/OddPears2_mqwjpn.jpg", class: "image-carousel") %>
          </div>
          <div class="item-description">
            <p>Création de logos.</p>
          </div>
        </div>
      </div>
      <div class="item swiper-slide">
        <div class="item-wrapper">
          <div class="item-image">
            <%= cl_image_tag("v1673016765/development/solenne-carreras/wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/Capture_d_%C3%A9cran_2022-11-24_%C3%A0_12.00.34_bsz03w.png", class: "image-carousel") %>
          </div>
          <div class="item-description">
            <p>Identité visuelle.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div class="services-part">
  <h2 class="services-part-title">Nos services</h2>
  <div class="services-grid">
    <div>
      <div class="services-grid-container">
        <%= cl_image_tag("v1673016865/development/solenne-carreras/wetransfer_photos-home-page-3-rubriques_2022-12-30_1602/SolenneCarreras_2021_07_Loire_Valley_Lodges_280_1_k02qmd.jpg", class: "services-grid-image") %>
      </div>
      <div class="services-description">
        <hr>
        <h3>Photographie</h3>
        <ul>
          <li>Photographie immobilière</li>
          <li>Culinaire & restauration</li>
          <li>Packshots produits</li>
          <li>Évènementiel</li>
        </ul>
        <hr>
      </div>
    </div>
    <div>
      <div class="services-grid-container">
        <%= cl_image_tag("v1673016768/development/solenne-carreras/wetransfer_photos-home-page-3-rubriques_2022-12-30_1602/Capture_d_%C3%A9cran_2022-11-24_%C3%A0_11.18.57_mjymlc.png", class: "services-grid-image") %>
      </div>
      <div class="services-description">
        <hr>
        <h3>Retouches</h3>
        <ul>
          <li>Photographie immobilière</li>
          <li>Culinaire & restauration</li>
          <li>Packshots produits</li>
          <li>Évènementiel</li>
        </ul>
        <hr>
      </div>
    </div>
    <div>
      <div class="services-grid-container">
        <%= cl_image_tag("v1673016768/development/solenne-carreras/wetransfer_photos-home-page-3-rubriques_2022-12-30_1602/Capture_d_%C3%A9cran_2022-11-24_%C3%A0_11.21.52_gqdnm3.png", class: "services-grid-image") %>
      </div>
      <div class="services-description">
        <hr>
        <h3>Graphisme</h3>
        <ul>
          <li>Photographie immobilière</li>
          <li>Culinaire & restauration</li>
          <li>Packshots produits</li>
          <li>Évènementiel</li>
        </ul>
        <hr>
      </div>
    </div>
  </div>
</div>
