<div class="form-part">
  <div class="formfor-container">
    <%= form_for [@photographie, @content] do |f| %>
      <% if @content.errors.any? %>
        <div class="error-container">
          <h2 class="error-title">Attention il y a <%= pluralize(@content.errors.count, "erreur") %> :</h2>
          <ul class="error-list">
            <% @content.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="formfor-form-container">
        <h1>Ajouter des photos à <%= @photographie.name %></h1>
        <hr>
        <%= f.label "Photos" %>
        <%= f.file_field :photos, as: :file, multiple: true,
        data:{ controller: "photos-previews", action: "change->photos-previews#preview"} %>
        <div 
        class="photos-previews" 
        data-controller="photos-previews" 
        data-action="photos-previews#preview">

        </div>
        <%= f.submit "Enregistrer", 
        data: { disabled_with: false,
        controller: "photos-previews",
        action:"click->photos-previews#clearPreviews" 
        },
        class: "form-submit-button formfor-button" %>
        <%= link_to photography_path(@photographie) do %>
          <i class="fas fa-undo-alt form-submit-button"> Retour en arriere</i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
