<div class="photographie-container">
  <div class="photographie-container-elements">
    <% if user_signed_in? %>
      <div class="photographie-buttons-container">
        <%= link_to new_graphisme_path, class: "photographie-add-button" do %>
          <i class="fa-solid fa-plus"></i> Ajouter
        <% end %>
      </div>
    <% end %>
    <div class="photographie-grid-container">
      <div class="photographie-grid">
        <% @graphismes&.each do |graphisme| %>
          <div class="photographie-grid-wrapper">
            <div class="linked">
              <%= link_to graphisme_path(graphisme), class: "", data: {turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer #{graphisme.name}"} do %>
                  <i class="far fa-trash-alt"></i>
              <% end %>
              <%= link_to edit_graphisme_path(graphisme), class: "" do %>
                  <i class="far fa-edit"></i>
              <% end %>
            </div>
            <%= link_to graphisme_path(graphisme) do %>
              <div class="photographie-grid-element">
                <div class="photographie-photo-container">
                  <img class="photographie-photo" src="<%= cl_image_path "graphismes/" + graphisme.photo.key %>" alt="graphisme photo">
                </div>
                <div class="photographie-photo-name">
                  <p><%= graphisme.name %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
