<div class="photographie-show">
  <div class="photographie-show-intro">
    <img src="<%= cl_image_path "photographies/" + @photographie.photo.key %>" alt="photographie photo">
    <p><%= @photographie.description %></p>
  </div>
  <div class="photographie-container">
    <div class="photographie-container-elements">
      <div class="photographie-buttons-container">
        <%= link_to photographies_path, class: "photographie-add-button" do %>
          <i class="fas fa-undo-alt"></i> Retour
        <% end %>
        <% if user_signed_in? %>
          <%= link_to new_photography_content_path(@photographie), class: "photographie-add-button" do %>
            <i class="fa-solid fa-plus"></i> Ajouter des photos
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grid-photos-container">
    <% @photographie.contents&.each do |content| %>
      <% content.photos&.each do |photo| %>
        <div class="grid-photo-wrapper">
          <img src="<%= cl_image_path "photographies/content/" + photo.key %>" alt="photographie photos">
          <%= link_to purge_photo_contents_path(photo, @photographie), class: "linked", data: {turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer cet élément ?"} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="photographie-navigation <%= (@next_photographie.present? && !@previous_photographie.present?) ? "photographie-navigation-push-right" : "photographie-navigation-push-between" %>">
    <% if @previous_photographie.present? %>
      <%= link_to "< " + @previous_photographie.name, @previous_photographie, class: "photographie-navigation-previous" %>
    <% end %>
    <% if @next_photographie.present? %>
      <%= link_to @next_photographie.name + " >", @next_photographie, class: "photographie-navigation-next" %>
    <% end %>
  </div>
</div>
