<div class="form-part">
  <div class="formfor-container">
    <%= form_for [@photographie, @photographieContent] do |f| %>
      <% if @photographie.errors.any? %>
        <div class="error-container">
          <h2 class="error-title">Attention il y a <%= pluralize(@photographie.errors.count, "erreur") %> :</h2>
          <ul class="error-list">
            <% @photographie.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="formfor-form-container">
        <h1>Ajouter des photos à <%= @photographie.name %></h1>
        <hr>
        <%= f.label "Photos" %>
        <%= f.file_field :photo, as: :file %>

        <%= f.submit "Enregistrer", class: "form-submit-button formfor-button" %>
        <%= link_to photography_path(@photographie) do %>
          <i class="fas fa-undo-alt form-submit-button"> Retour en arriere</i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
