<div class="carousel" data-controller="carousel" data-carousel-target="carouselHome">
  <div class="item">
    <div class="item-img">
      <%= cl_image_tag("wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/Capture_d_%C3%A9cran_2020-09-06_%C3%A0_13.09.23_lwyree.png", class: "image-carousel") %>
    </div>
    <div class="item-info">
      Packaging.
    </div>
  </div>
  <div class="item">
    <div class="item-img">
      <%= cl_image_tag("wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/SolenneCarreras_2022-11-10_Pizzou_Issy_42_lfhbi8.jpg", class: "image-carousel") %>
    </div>
    <div class="item-info">
      Photographie culinaire.
    </div>
  </div>
  <div class="item">
    <div class="item-img">
      <%= cl_image_tag("wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/DSC04979_copie_1_lnnpzt.jpg", class: "image-carousel") %>
    </div>
    <div class="item-info">
      Reportage photo.
    </div>
  </div>
  <div class="item">
    <div class="item-img">
      <%= cl_image_tag("wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/Photo__SolenneCarreras__iamsolenne_NormalMagazine_StefanieRenoma_2018_3_xb48gl.jpg", class: "image-carousel") %>
    </div>
    <div class="item-info">
      Photographie artistique.
    </div>
  </div>
  <div class="item">
    <div class="item-img">
      <%= cl_image_tag("wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/SolenneCarreras_2022_AppartementCavalaire_21_x6zlnd.jpg", class: "image-carousel") %>
    </div>
    <div class="item-info">
      Photographie Immobilière.
    </div>
  </div>
  <div class="item">
    <div class="item-img">
      <%= cl_image_tag("wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/DSC08473_copie_vnlcrj.jpg", class: "image-carousel") %>
    </div>
    <div class="item-info">
      Packshots produits.
    </div>
  </div>
  <div class="item">
    <div class="item-img">
      <%= cl_image_tag("wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/OddPears2_mqwjpn.jpg", class: "image-carousel") %>
    </div>
    <div class="item-info">
      Créations de logos.
    </div>
  </div>
  <div class="item">
    <div class="item-img">
      <%= cl_image_tag("wetransfer_photo-home-page-slider-horizontal_2022-12-30_1559/Capture_d_%C3%A9cran_2022-11-24_%C3%A0_12.00.34_bsz03w.png", class: "image-carousel") %>
    </div>
    <div class="item-info">
      Identité visuelle.
    </div>
  </div>
</div>
