<h1 class="text-intro">Tout commence par une idée.</h1>
<figure class="figure-image">
    <%= cl_image_tag("wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_07_Loire_Valley_Lodges_196_1_w7gkq9.jpg",
    class: "image-top") %>
</figure>
<figure class="figure-image">
  <%= cl_image_tag("wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_09_LaMaisonVraj_16_1_ib5x1i.jpg",
    class: "image-top") %>
</figure>
<figure class="figure-image">
  <%= cl_image_tag("wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_09_LaMaisonVraj_62_1_bjulq8.jpg",
    class: "image-top") %>
</figure>
<figure class="figure-image">
  <%= cl_image_tag("wetransfer_photos-home-page-partie-haute_2022-12-30_1551/HUILE_-_DSC04114_2020_1_dele2y.jpg",
    class: "image-top") %>
</figure>
<figure class="figure-image">
  <%= cl_image_tag("wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_09_LaMaisonVraj_59_1_f4kivn.jpg",
    class: "image-top") %>
</figure>
<figure class="figure-image">
  <%= cl_image_tag("wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2021_07_Loire_Valley_Lodges_297_ea8trw.jpg",
    class: "image-top") %>
</figure>
<figure class="figure-image">
  <%= cl_image_tag("wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2022_Shangri-La_173_r2q9we.jpg",
    class: "image-top") %>
</figure>
<figure class="figure-image">
  <%= cl_image_tag("wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2022_Kalank_33_a4uhhv.jpg",
    class: "image-top") %>
</figure>
<figure class="figure-image">
  <%= cl_image_tag("wetransfer_photos-home-page-partie-haute_2022-12-30_1551/SolenneCarreras_2022_Marignan_61_mbteh7.jpg",
    class: "image-top") %>
</figure>
