<nav class="navbar" data-controller="avatar-dropdown navbar" data-navbar-target='nav'>
  <div>
    <%= link_to "Solenne Carreras", root_path, class: "navbar-title-link" %>
  </div>
  <ul class="navbar-list" data-menu-burger-target='desktopList'>
    <li><%= link_to "PHOTOGRAPHIE", photographies_path, class: "#{'current-list' if current_page?(photographies_path)}" %></li>
    <li><%= link_to "RETOUCHES", retouches_path, class: "#{'current-list' if current_page?(retouches_path)}"  %></li>
    <li><%= link_to "GRAPHISME", graphismes_path, class: "#{'current-list' if current_page?(graphismes_path)}"  %></li>
    <li><%= link_to "CONTACT", contacts_path, class: "#{'current-list' if current_page?(contacts_path)}"  %></li>
    <li class="navbar-icon">
      <a href="http://instagram.com/iamsolenne" class="navbar-title-link" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <div class="signin-desktop">
          <i class="fa-solid fa-arrow-right-to-bracket iconconnect" data-action="click->avatar-dropdown#action"></i>
          <div class="dropdownmenu d-none" data-avatar-dropdown-target='dropdown'>
            <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdownitem" %>
          </div>
        </div>
        <div class="signin-mobile" >
          <!--
          <p data-action="click->avatar-dropdown#actionmobile">COMPTE</p>
          <div class="d-none" data-avatar-dropdown-target='dropdownmobile'>
            <%= link_to "Panel", "#", class: "mobile-li" %>
            <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "mobile-li" %>
          </div>
          -->
          <%= link_to "DECONNEXION", destroy_user_session_path, data: {turbo_method: :delete}, class: "mobile-li" %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="burger-container" data-action="click->menu-burger#action" data-menu-burger-target='burger'>
    <span class="burger-icon">
      <span data-menu-burger-target='span1'></span>
      <span data-menu-burger-target='span2'></span>
      <span data-menu-burger-target='span3'></span>
    </span>
  </div>
</nav>
