<nav class="navbar" data-controller="avatar-dropdown">
  <div>
    <%= link_to "Solenne Carreras", root_path, class: "navbar-title-link" %>
  </div>
  <ul class="navbar-list" data-menu-burger-target='desktopList'>
    <li><%= link_to "PHOTOGRAPHIE", photographies_path, class: "#{'current-list' if current_page?(photographies_path)}" %></li>
    <li><%= link_to "RETOUCHES", retouches_path, class: "#{'current-list' if current_page?(retouches_path)}"  %></li>
    <li><%= link_to "GRAPHISME", graphismes_path, class: "#{'current-list' if current_page?(graphismes_path)}"  %></li>
    <li><%= link_to "CONTACT", contacts_path, class: "#{'current-list' if current_page?(contacts_path)}"  %></li>
    <li class="navbar-icon">
      <a href="http://instagram.com/iamsolenne" class="navbar-title-link" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar image" class="avatar" data-action="click->avatar-dropdown#action">
        <div class="dropdownmenu d-none" data-avatar-dropdown-target='dropdown'>
          <%= link_to "Panel", "#", class: "dropdownitem" %>
          <hr>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdownitem" %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
  <div class="burger-container" data-action="click->menu-burger#action" data-menu-burger-target='burger'>
    <span class="burger-icon">
      <span data-menu-burger-target='span1'></span>
      <span data-menu-burger-target='span2'></span>
      <span data-menu-burger-target='span3'></span>
    </span>
  </div>
</nav>
