<div class="animation-part">
    <div class="animation-gradient-left">
    </div>
    <div class="animation-gradient-right">
    </div>
    <div class="text-wrapper text-wrapper-contact">
        <p class="ta1">Démarquez-vous:contactez-nous</p>
        <p class="ta2">Démarquez-vous:contactez-nous</p>
    </div>
</div>
<div class="form-part">
    <%= form_for @contact, html: { class: "form-contact" } do |f| %>

    <% if @contact.errors.any? %>
        <div class="error-container">
            <h2 class="error-title">Attention il y a <%= pluralize(@contact.errors.count, "erreur") %> :</h2>
            <ul class="error-list">
                <% @contact.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-samerow">
        <div class="form-row">
            <%= f.label "Nom" %>
            <%= f.text_field :name %>
        </div>
        <div class="form-row">
            <%= f.label "Prénom" %>
            <%= f.text_field :surname %>
        </div>
    </div>

    <div class="form-row">
        <%= f.label "Email" %>
        <%= f.email_field :email %>
    </div>

    <div class="form-row">
        <%= f.label "Message" %>
        <%= f.text_area :message %>
    </div>

    <div class="form-submit">
        <%= f.submit "Envoyer", class: "form-submit-button" %>
    </div>
    <% end %>
</div>
