<p>J'aimerais avoir de vos nouvelles. Envoyez-moi un message ci-dessous.</p>

<%= form_for @contact do |form| %>

<% if @contact.errors.any? %>
    <div id="error_explanation" class="">
        <div class=""><%= pluralize(@contact.errors.count, "error") %> Interdiction d'enregistrement de cette page:</div>

        <ul class="">
            <% @contact.errors.each do |error| %>
                <li class=""><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="">
    <div class="">
        <%= form.label "Prénom" %>
        <%= form.text_field :surname %>
    </div>

    <div class="">
        <%= form.label "Nom" %>
        <%= form.text_field :name %>
    </div>
</div>

<div class="">
    <%= form.label "Email" %>
    <%= form.email_field :email %>
</div>

<div class="">
    <%= form.label "Message" %>
    <%= form.text_area :message %>
</div>

<div class="">
    <%= form.submit "Envoyer" %>
</div>
<% end %>
