<div class="form-part">
    <%= form_for @contact, html: { class: "form-contact" } do |form| %>

    <% if @contact.errors.any? %>
        <div id="error_explanation" class="">
            <div class=""><%= pluralize(@contact.errors.count, "error") %> Interdiction d'enregistrement de cette page:</div>

            <ul class="">
                <% @contact.errors.each do |error| %>
                    <li class=""><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-samerow">
        <div class="form-row">
            <%= form.label "Prénom" %>
            <%= form.text_field :surname %>
        </div>
        <div class="form-row">
            <%= form.label "Nom" %>
            <%= form.text_field :name %>
        </div>
    </div>

    <div class="form-row">
        <%= form.label "Email" %>
        <%= form.email_field :email %>
    </div>

    <div class="form-row">
        <%= form.label "Message" %>
        <%= form.text_area :message %>
    </div>

    <div class="form-submit">
        <%= form.submit "Envoyer", class: "form-submit-button" %>
    </div>
    <% end %>
</div>
