<div class="form-part">
  <div class="formfor-container">
    <%= form_for @retouche do |f| %>
      <% if @retouche.errors.any? %>
        <div class="error-container">
          <h2 class="error-title">Attention il y a <%= pluralize(@retouche.errors.count, "erreur") %> :</h2>
          <ul class="error-list">
            <% @retouche.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="formfor-form-container">
        <h1>Nouvel element retouche</h1>
        <hr>
        <%= f.label "Photo avant" %>
        <%= f.file_field :before_photo, as: :file %>
        <%= f.label "Photo après" %>
        <%= f.file_field :after_photo, as: :file %>

        <%= f.submit "Enregistrer", class: "form-submit-button formfor-button" %>
        <%= link_to retouches_path do %>
          <i class="fas fa-undo-alt form-submit-button"> Retour en arriere</i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
