<!DOCTYPE html>
<html>
  <head>
    <title>SolenneCarreras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Photographe Paris. Portraitiste, Publicitaire. Studio photo, Post-production et retouche numérique.">    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  </head>

  <body class="body" data-controller="menu-burger" data-menu-burger-target='body'>
    <%= render 'shared/navbar' %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
